<!DOCTYPE html>
<html lang="en">
  <title>Log in</title>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
      <%= form_tag sessions_path do %>
        <h2 class="form-signin-heading", align="center">Log in</h2>

        <%if @error %>
          <div class="alert alert-danger">
            <strong>
              <%= @error %>
            </strong>
          </div>
        <%end%>

        <%= email_field_tag :email,'',autofocus: true, class: 'form-control', placeholder: 'Email Address'%><br />
        <%= password_field_tag :password, '', autocomplete: "off", class: 'form-control' , placeholder: 'Password' %><br />

        <p class="button" ><%= submit_tag "Log in", class: 'btn btn-lg btn-primary btn-block' %></p>
      <% end %>
    </div> <!-- /container -->
  </body>
</html>
