<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>All users</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <style>
      #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 40px; }
      #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>

    <script>
    $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });
    </script>
  </head>

  <body>


    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> Email </th>
          <th> First name </th>
          <th> Role  </th>
        </tr>
      </thead>

      <tbody  id="sortable">
        <% @users.each do |user| %>
          <% unless  user.role == 'super_admin' %>
            <tr data-item-id= <%= "#{user.id}" %> class="item">
              <td><%= user.email %></td>
              <td><%= user.first_name %></td>
              <td><%= user.role %></td>

              <td align = 'center'><%= link_to 'show', user_path(user), class: 'btn btn-info' %></td>
              <td align = 'center'><%= link_to 'edit', edit_user_path(user), class: 'btn btn-warning' %></td>
              <td align = 'center'><%= button_to 'delete', user, method: :delete, class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end -%>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>

    <div>
      <h3>Import users via .csv file</h3>
      <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file %>
        <br>
        <%= submit_tag "Import CSV" %>
      <% end %>
    </div>
  </body>
</html>


