<title>Profile</title>

<style>
  .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 7px; /* Отступы вокруг картинки */
  }
</style>

<%= form_for @user, htm: {multipart: true} do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>

      <div class="panel-body">
        <% for image in @user.images %>
          <div class="leftimg">
            <%= image_tag image.image_url(:thumb) %><br>
          </div>
        <% end %>

        <p><br>
          <%= f.label :first_name %> :
          <%= @user.first_name %><br>

          <%= f.label :last_name %> :
          <%= @user.last_name %><br>

          <%= f.label :email %> :
          <%= @user.email %><br>

          <%= f.label :birthday %> :
          <%= @user.birthday %><br>
        </p>
      </div>
    </div>
  </div>

  <p class="button"><%= link_to "Edit", edit_user_path, class: 'btn btn-lg btn-primary btn-block' %></p>
<% end %>
