<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag :application %>
    <%= favicon_link_tag "favicon.png" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a><%= link_to "Svitla", root_path, class: "navbar-brand"%></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">

            <% if current_user %>
             <font color="grey">Welcome, <%= current_user.first_name %></font>
              <%= link_to 'Profile', user_path(current_user) %>
              <%= link_to 'All users', users_path %>
              <%= link_to 'Log out', log_out_path %>
            <% else %>
              <%= link_to 'Sign up', sign_up_path, class:"btn btn-success"%>
              <font color="grey"> or </font>
              <%= link_to 'log in', log_in_path, class:"btn btn-success"%>
            <% end %>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <% flash.each do |name, msg| %>
      <div class="alert alert-success">
        <strong><%= content_tag :div, msg, id: "flash_#{name}" %></strong>
      </div>
    <% end %>

    <%= yield %>
    </div> <!-- /container -->
  </body>
</html>
